*,
*:before,
*:after {
    box-sizing: border-box;
}

.zombies {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

img {
    min-width: 162px;
    max-width: 229px;
    min-height: 230px;
    height: 320px;
    border: 2px solid #eee;
    padding: 10px;
    margin: 10px;
}

img.dead {
    height: 320px;
}
